// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "windows.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BALL                BITMAP                  "ball.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MYMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Edit Codes",                 ID_FILE_EDIT
        MENUITEM "E&xit",                       ID_FILE_EXIT
    END
    POPUP "&Run"
    BEGIN
        MENUITEM "&Run Simulation",             ID_RUN_SIMULATION
        MENUITEM "Run Simulation Step by Step", ID_RUN_SIMULATION_STS
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Help",                       ID_HELP_HELP
        MENUITEM "&Cradit",                     ID_HELP_CRADIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MYICON              ICON                    "menu_one.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_TOOLBAR_HELP DIALOGEX 0, 0, 197, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Help"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    GROUPBOX        "Help...",IDC_STATIC,7,5,181,91
    CTEXT           "File->Edit Codes: Open the codes file and edit it.\n\nFile->Exit: Close the programm.\n\nRun->Run Simulation: Open the simulation window and run auto simulation.\n\nRun->Run Simulation Step By Step: Open the simulation window and you can run simulation.",IDC_STATIC,10,15,172,73
    PUSHBUTTON      "&Close",IDC_CLOSE_HELP,65,102,60,14
END

IDD_TOOLBAR_CRADIT DIALOGEX 0, 0, 200, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Cradit"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    GROUPBOX        "About this program...",IDC_STATIC,7,7,180,70
    CTEXT           "Designed by: Mohammad Hossin Erjaee\n\t Peyman Masjedi\n\t Ahmad Reza Mostajabi\n\nCopyright 2014 MIPS Simulator. All rights reserved.",IDC_STATIC,16,23,159,43
    PUSHBUTTON      "&Close",IDC_CLOSE_CRADIT,70,80,60,14
END

IDD_TOOLBAR_EDIT DIALOGEX 0, 0, 300, 156
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Edit"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "&Close",IDC_CLOSE_EDIT,198,135,55,14
    PUSHBUTTON      "&Open...",IDC_OPEN_EDIT,55,135,55,14
    PUSHBUTTON      "&Save As...",IDC_SAVE,128,135,55,14
END

IDD_TOOLBAR_RUN_SIMULATION DIALOGEX 0, 0, 397, 212
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Simulation Result"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "Run",IDC_RUN,29,187,63,20
    PUSHBUTTON      "Reset",IDC_RESET,96,187,63,20
    PUSHBUTTON      "Close",IDC_CLOSE_SIMULATION,324,187,63,20
    LTEXT           "R0",IDC_STATIC,16,42,12,8
    EDITTEXT        IDC_PC2,29,40,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R1",IDC_STATIC,16,59,12,8
    EDITTEXT        IDC_PC3,29,57,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R2",IDC_STATIC,16,75,12,8
    EDITTEXT        IDC_PC4,29,73,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R3",IDC_STATIC,16,92,12,8
    EDITTEXT        IDC_PC5,29,90,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R4",IDC_STATIC,16,108,12,8
    EDITTEXT        IDC_PC6,29,106,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R5",IDC_STATIC,16,125,12,8
    EDITTEXT        IDC_PC7,29,122,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R6",IDC_STATIC,16,141,12,8
    EDITTEXT        IDC_PC8,29,138,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R7",IDC_STATIC,16,157,12,8
    EDITTEXT        IDC_PC9,29,156,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R8",IDC_STATIC,113,41,12,8
    EDITTEXT        IDC_PC10,129,40,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R9",IDC_STATIC,113,59,14,8
    EDITTEXT        IDC_PC11,129,57,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R10",IDC_STATIC,113,75,14,8
    EDITTEXT        IDC_PC12,129,73,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R11",IDC_STATIC,113,92,14,8
    EDITTEXT        IDC_PC13,129,89,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R12",IDC_STATIC,113,108,14,8
    EDITTEXT        IDC_PC14,129,105,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R13",IDC_STATIC,113,125,14,8
    EDITTEXT        IDC_PC15,129,121,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R14",IDC_STATIC,113,141,14,8
    EDITTEXT        IDC_PC16,129,137,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R15",IDC_STATIC,113,157,14,8
    EDITTEXT        IDC_PC17,129,156,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R16",IDC_STATIC,211,41,14,8
    EDITTEXT        IDC_PC18,227,40,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R17",IDC_STATIC,211,59,14,8
    EDITTEXT        IDC_PC19,227,57,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R18",IDC_STATIC,211,75,14,8
    EDITTEXT        IDC_PC20,227,73,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R19",IDC_STATIC,211,92,14,8
    EDITTEXT        IDC_PC21,227,89,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R20",IDC_STATIC,211,108,14,8
    EDITTEXT        IDC_PC22,227,105,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R21",IDC_STATIC,211,125,14,8
    EDITTEXT        IDC_PC23,227,121,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R22",IDC_STATIC,211,141,14,8
    EDITTEXT        IDC_PC24,227,137,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R23",IDC_STATIC,211,157,14,8
    EDITTEXT        IDC_PC25,227,156,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R24",IDC_STATIC,312,41,14,8
    EDITTEXT        IDC_PC26,328,40,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R25",IDC_STATIC,312,59,14,8
    EDITTEXT        IDC_PC27,328,57,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R26",IDC_STATIC,312,75,14,8
    EDITTEXT        IDC_PC28,328,73,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R27",IDC_STATIC,312,92,14,8
    EDITTEXT        IDC_PC29,328,89,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R28",IDC_STATIC,312,108,14,8
    EDITTEXT        IDC_PC30,328,105,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R29",IDC_STATIC,312,125,14,8
    EDITTEXT        IDC_PC31,328,121,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R30",IDC_STATIC,312,141,14,8
    EDITTEXT        IDC_PC32,328,137,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R31",IDC_STATIC,312,157,14,8
    EDITTEXT        IDC_PC33,328,156,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Result:",IDC_STATIC,207,17,23,8
    EDITTEXT        IDC_PC,232,15,139,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "File Name:",IDC_STATIC,24,17,34,8
    EDITTEXT        IDC_Name,59,14,139,14,ES_AUTOHSCROLL
END

IDD_TOOLBAR_RUN_SIMULATION_STS DIALOGEX 0, 0, 631, 206
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Step By Step Simulation"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "Run",IDC_RUN_STS,139,182,63,20
    PUSHBUTTON      "Close",IDC_CLOSE_SIMULATION_STS,541,182,63,20
    LTEXT           "Clock Counter:",IDC_STATIC,434,14,48,8
    EDITTEXT        IDC_PC_STS,483,12,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R0",IDC_STATIC,16,42,12,8
    EDITTEXT        IDC_PC2_STS,29,40,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R1",IDC_STATIC,16,59,12,8
    EDITTEXT        IDC_PC3_STS,29,57,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R2",IDC_STATIC,16,75,12,8
    EDITTEXT        IDC_PC4_STS,29,73,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R3",IDC_STATIC,16,92,12,8
    EDITTEXT        IDC_PC5_STS,29,90,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R4",IDC_STATIC,16,108,12,8
    EDITTEXT        IDC_PC6_STS,29,106,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R5",IDC_STATIC,16,125,12,8
    EDITTEXT        IDC_PC7_STS,29,122,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R6",IDC_STATIC,16,141,12,8
    EDITTEXT        IDC_PC8_STS,29,138,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R7",IDC_STATIC,16,157,12,8
    EDITTEXT        IDC_PC9_STS,29,156,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R8",IDC_STATIC,113,41,12,8
    EDITTEXT        IDC_PC10_STS,129,40,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R9",IDC_STATIC,113,59,14,8
    EDITTEXT        IDC_PC11_STS,129,57,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R10",IDC_STATIC,113,75,14,8
    EDITTEXT        IDC_PC12_STS,129,73,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R11",IDC_STATIC,113,92,14,8
    EDITTEXT        IDC_PC13_STS,129,89,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R12",IDC_STATIC,113,108,14,8
    EDITTEXT        IDC_PC14_STS,129,105,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R13",IDC_STATIC,113,125,14,8
    EDITTEXT        IDC_PC15_STS,129,121,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R14",IDC_STATIC,113,141,14,8
    EDITTEXT        IDC_PC16_STS,129,137,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R15",IDC_STATIC,113,157,14,8
    EDITTEXT        IDC_PC17_STS,129,156,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R16",IDC_STATIC,211,41,14,8
    EDITTEXT        IDC_PC18_STS,227,40,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R17",IDC_STATIC,211,59,14,8
    EDITTEXT        IDC_PC19_STS,227,57,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R18",IDC_STATIC,211,75,14,8
    EDITTEXT        IDC_PC20_STS,227,73,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R19",IDC_STATIC,211,92,14,8
    EDITTEXT        IDC_PC21_STS,227,89,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R20",IDC_STATIC,211,108,14,8
    EDITTEXT        IDC_PC22_STS,227,105,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R21",IDC_STATIC,211,125,14,8
    EDITTEXT        IDC_PC23_STS,227,121,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R22",IDC_STATIC,211,141,14,8
    EDITTEXT        IDC_PC24_STS,227,137,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R23",IDC_STATIC,211,157,14,8
    EDITTEXT        IDC_PC25_STS,227,156,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R24",IDC_STATIC,312,41,14,8
    EDITTEXT        IDC_PC26_STS,328,40,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R25",IDC_STATIC,312,59,14,8
    EDITTEXT        IDC_PC27_STS,328,57,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R26",IDC_STATIC,312,75,14,8
    EDITTEXT        IDC_PC28_STS,328,73,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R27",IDC_STATIC,312,92,14,8
    EDITTEXT        IDC_PC29_STS,328,89,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R28",IDC_STATIC,312,108,14,8
    EDITTEXT        IDC_PC30_STS,328,105,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R29",IDC_STATIC,312,125,14,8
    EDITTEXT        IDC_PC31_STS,328,121,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R30",IDC_STATIC,312,141,14,8
    EDITTEXT        IDC_PC32_STS,328,137,49,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "R31",IDC_STATIC,312,157,14,8
    EDITTEXT        IDC_PC33_STS,328,156,49,14,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "Reset",IDC_RESET,206,182,63,20
    LTEXT           "Stage 1:",IDC_STATIC,421,56,28,8
    EDITTEXT        IDC_STAGE1,449,54,170,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Stage 2:",IDC_STATIC,421,76,28,8
    EDITTEXT        IDC_STAGE2,449,74,170,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Stage 3:",IDC_STATIC,421,99,28,8
    EDITTEXT        IDC_STAGE3,449,96,170,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Stage 4:",IDC_STATIC,421,120,28,8
    EDITTEXT        IDC_STAGE4,449,117,170,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Stage 5:",IDC_STATIC,421,142,28,8
    EDITTEXT        IDC_STAGE5,449,138,170,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Time stage:",IDC_STATIC,293,13,38,8
    EDITTEXT        IDC_TIME,332,11,49,14,ES_AUTOHSCROLL
    LTEXT           "File Name:",IDC_STATIC,75,14,34,8
    EDITTEXT        IDC_Name_STS,110,11,139,14,ES_AUTOHSCROLL
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_TOOLBAR_HELP, DIALOG
    BEGIN
    END

    IDD_TOOLBAR_CRADIT, DIALOG
    BEGIN
    END

    IDD_TOOLBAR_EDIT, DIALOG
    BEGIN
    END

    IDD_TOOLBAR_RUN_SIMULATION, DIALOG
    BEGIN
    END

    IDD_TOOLBAR_RUN_SIMULATION_STS, DIALOG
    BEGIN
    END
END
#endif    // APSTUDIO_INVOKED

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
